<div class="near_by_hotel_wrapper">
        <div class="near_by_hotel_container">
          
    
            <table class="table table-striped table-bordered table-bulk ">
                <thead class="tableHeadAcc">
                    <th>{{labels[0].label}}</th>
                    <th>{{labels[1].label}}</th>
                    <th>{{labels[2].label}}</th>
                    <th>{{labels[3].label}}</th>
                    <th>{{labels[4].label}}</th>
                    <th>{{labels[5].label}}</th>
                    <th [hidden]=true>{{labels[6].label}}</th>
                </thead>
                <tbody class="tableBody">
                    <tr *ngFor="let hero of tableData; let i = index">
                        <td  *ngIf="hero.AMENDMENT_TYPE==='No Record Found'">{{hero.AMENDMENT_TYPE}}</td>
                        <td *ngIf="hero.AMENDMENT_TYPE!='No Record Found'" (click)="showModal(hero.REM_AGREEMENT_ID)" class="hyperlink">{{hero.AMENDMENT_TYPE}}</td>
                        <td>{{hero.AMENDMENT_TITLE}}</td>
                        <td>{{hero.EFFECTIVE_DATE}}</td>
                        <td>{{hero.AMENDMENT_DROP_DEAD}}</td>
                        <td>{{hero.CREATED_DATE}}</td>
                        <td>{{hero.MODIFIED_BY}}</td>
                        <td [hidden]=true>{{hero.REM_AGREEMENT_ID}}</td>                    
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    
    
    <div id="myModal" class="modal fade">
    
    <div class="modal-dialog">
    
    <div class="modal-content" id="contactpopupmodal">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Amendment History</h5>
        <i  class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </i>
    </div>
    <div class="modal-body">
            <div class="row" *ngFor="let data of ammendmentModalData;">
                    <div class="col-md-6"><b>{{data.Label}}</b></div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-5">{{data.Value}}</div>
                    <br/>
            </div>
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    
    
    <button
    id="openModalButton"
    hidden="hidden"
    data-toggle="modal"
    data-target="#myModal">Open Modal</button>
    
    
      