.chart-title{
    position:relative;
    left:30%;
}

.start-date{
    position:relative;
    left:30%;
}

.end-date{
    position:relative;
    left:30%;
}

.days-more{
    position:relative;
    left:30%;
}

#leasedatasheetgraph
{
    margin-top: -2%;
    margin-bottom: -26%;
    margin-left: -20%;

}
#leasedatasheetleasesummary
{
    margin-top: 3%;
}
#leasedatasheetgraph1{
margin-bottom: -2%;
margin-left: -20%;
}