<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-5">Site USID</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-6">{{siteAssociatedMasterSites.siteUsid}}</div>
    </div>
    <div class="row">
      <div class="col-sm-5">Site Name</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-6">{{siteAssociatedMasterSites.siteName}}</div>
    </div>
    <div class="row">
      <div class="col-sm-5">Status</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-6">{{siteAssociatedMasterSites.status}}</div>
    </div>
  </div>
  <div class="col-sm-6">

    <div class="row">
      <div class="col-sm-5">FA Number</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-6">{{siteAssociatedMasterSites.FANumber}}</div>
    </div>
    <div class="row">
      <div class="col-sm-5">Master Site</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-6">{{siteAssociatedMasterSites.masterSite}}</div>
    </div>
  </div>
</div>