.chart-title{
    position:relative;
    left:30%;
}

.start-date{
    position:relative;
    left:30%;
}

.end-date{
    position:relative;
    left:30%;
}

.days-more{
    position:relative;
    left:30%;
}