/* You can add global styles to this file, and also import other style files */
/* @import "assets/omnes/omnes/Omnes_ATT_II_Medium.otf"; */

/*New ATT Standard Pure CSS*/
/*New ATT Standard Pure CSS*/

.breadcrumb {
  padding: 0.4rem 0.4rem 0.4rem 1rem!important;
  margin-top: -0.3rem!important;
  width: 20vw;
  border-bottom-right-radius: 50px;
  background-color: #e9ecef!important;
}
@font-face {
  font-family: "ATT-Omnes_Medium";
  src: url("./assets/font/omnes/Omnes_ATT-Medium.eot");
  src: url("./assets/font/omnes/Omnes_ATT-Medium.woff") format("woff"),
  url("./assets/font/omnes/Omnes_ATT-Medium.otf") format("opentype"),
  url("./assets/font/omnes/Omnes_ATT-Medium.svg#filename") format("svg");
  }
  * {
      font-family: "ATT-Omnes_Medium" !important;
      }

      i.fa ,i.fas{
        font-family: FontAwesome !important;
        
      }
      body{
        overflow: hidden; 
      }
      .pd_35-125{
        padding: 0.35rem 1.25rem;
      }
      .pd_35{
        padding: 0.35rem;
      }
      .h_145{
        height: 1.45rem;
      }
      #home > div > div.col-md-12 > div > div.col-md-9.col-lg-9.column{
        padding-right: 0;
      }
      .lh-68{
        line-height: 0.68rem;
      }
      #ngb-tab-0-panel,#ngb-tab-3-panel,#ngb-tab-1-panel,#ngb-tab-2-panel{
        max-height: 80vh;
        overflow-y: scroll;
        overflow-x:hidden!important;
      }
      .fa, .far, .fas {
        font-family: "Font Awesome 5 Free"!important;
    }
    .c-ptr{
      cursor: pointer;
    }
    .respAlignDiv{
      -webkit-transition:all 1s; /* Safari */
      transition: all 1s;
      /* width: 95vw!important; */
    }
    /*01032019*/
    #grp-lpsFilter1 > div > select > option {
      color: #000;
      background: #fff;
  }
  #search-sidebar > ng-sidebar > aside > div > div.col-sm-11 > app-site-dynamic-overlay > div > ngb-tabset > div > div{
    /* overflow-y:scroll;
    max-height: 80vh; */
    overflow-y:scroll;
    overflow-x: hidden;
    max-height: 80vh;
  }
  .cellAlignBorder{
    text-align:left;
    border-left: 1px solid #0000000d;
    border-right: 1px solid #0000000d;
  }
  .pd-35-125-100-125{
  padding: 0.35rem 1.25rem 1rem 1.25rem;
}
.ng-sidebar{
  overflow: auto;
  pointer-events: auto;
  position: absolute;
  z-index: 995!important;}
  .nav-header{
        z-index: 996!important;
}.modal-backdrop {
  z-index: 994!important;
}
.mt-6-new{
  margin-top: 4rem!important;
}
.lo-icon-image{
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.lo-modalstyle{
  width: 100% !important;
   max-width: 100%
}
.lo-datasheet-pdf{
  height: 40px;
  width: 40px;
}
.lo-clsbtn{
  float:right
}
.ls-icon-alt{
  color: #067ab4;
  font-size: 1.6rem;
  cursor: pointer;
}
.ls-icon-alt-o{
  color: #067ab4;
  font-size: 1.7rem;
  cursor: pointer;
}
.footer-Align{
  font-size: 0.7rem;
}
.margin-tb-none{
  margin-top: 0!important;
  margin-bottom: 0!important;
 }
 .place
{
    position:fixed;
    bottom: 0;
    left: 14%;
    transition: all 0.3s;
}
.offset-md-143{
  margin-left: 14.333333%;
}
.force-pl-0{
padding-left: 0!important;
}
.offset-md-16{
  margin-left: 1.6%;
}