<div *ngIf="(!isTable) && section!='assetLesseeandLessorDetails' && section !='managementCompany'" >
  <div class="row" *ngIf="(section=='general')">
      <div *ngIf='indicator'>
          <!-- <div class='spinner'>
          </div>  -->
          <div class="la-ball-spin-fade la-dark posit">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
          </div> 
      <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">
          <div class="row" *ngFor='let data of left'>
              <div class="col-sm-5" 
                *ngIf="(data.Label=='Site USID'||data.Label=='Site Name');else notHyperLink">
                  <div *ngIf="(data.Label=='Site USID')" style="margin-bottom:10px;">
                    <a  class="hyperlink accordTitle"  data-target="#siteModal" data-toggle="modal" 
                    (click)="fetchSiteInfo(p1,'SiteUSID',data.Value,agrId)">{{data.Label}}</a>
                  </div>
                  <div *ngIf="(data.Label=='Site Name')">
                    <a class="hyperlink accordTitle"  data-target="#siteModal" data-toggle="modal" 
                    (click)="fetchSiteInfo(p1,'SiteName',data.value,agrId)">{{data.Label}}</a>
                  </div>
                  <!-- <ng-template #popTitle>Greeting in {{language}}</ng-template>
                  <ng-template #popContent>{{greeting}}, <b>{{name}}</b>!</ng-template> -->
              </div>
              <ng-template #notHyperLink>
                  <div class="col-sm-5 accordTitle">{{data.Label}}</div>
              </ng-template>
            <div class="col-sm-1">:</div>
            <div class="col-sm-6" *ngIf="((data.Value===true) || (data.Value===false));else notBoolean">
              <input type="checkbox" disabled
              disabled  [checked]="data.value"></div>
            <ng-template #notBoolean>
              <div class="col-sm-6">{{data.Value}}</div>
            </ng-template>
          </div>

        </div>
        <div class="modal" id="siteModal" tabindex="-1">
        <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-body">
              <div class="row" *ngFor='let data of leftSiteModal'>
                  <div class="col-sm-5 accordTitle">{{data.Label}}</div>
                  <div class="col-sm-1">:</div>
                  <div class="col-sm-6">{{data.Value}}</div>
                </div>
           </div>
           <div class="modal-footer">
             <button class="btn closeBtn" data-dismiss="modal">
               <span style="color:white">close</span></button>
           </div>
         </div>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="row" *ngFor='let data of right'>
            <div class="col-sm-5 accordTitle">{{data.Label}}</div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-6" *ngIf="((data.Value===true) || (data.Value===false));else notBoolean">
              <input type="checkbox" disabled
                [checked]="data.Value"></div>
            <ng-template #notBoolean>
              <div class="col-sm-6">{{data.Value}}</div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <br>
  <br> -->
  <div class="row" *ngIf="(!isTable) && (section!='general')">
      <div *ngIf='companyIndicator'>
        <div class="la-ball-spin-fade la-dark posit">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div> 
          </div> 
    <div class="col-sm-6">
      <div class="row" *ngFor='let data of left'>
        <div class="col-sm-5 accordTitle">{{data.Label}}</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-6" *ngIf="((data.Value===true) || (data.Value===false));else notBoolean">
          <input type="checkbox" disabled
            [checked]="data.Value"></div>
        <ng-template #notBoolean>
          <div class="col-sm-6">{{data.Value}}</div>
        </ng-template>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row" *ngFor='let data of right'>
        <div class="col-sm-5 accordTitle">{{data.Label}}</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-6" *ngIf="((data.Value===true) || (data.Value===false));else notBoolean">
          <input type="checkbox" disabled
            [checked]="data.Value"></div>
        <ng-template #notBoolean>
          <div class="col-sm-6">{{data.Value}}</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div *ngIf= "section =='general'" class="row" style="margin-top:30px;">
    <div class="col-md-9"></div>
    <div (click)="show()" class="col-md-3 showDetails" >{{present}}</div>
    <div class="col-md-9">
    <div class="row">
      <div *ngIf="!showFlag">
      <div class="row" *ngFor = 'let data of showMore1'>
        <div class="col-sm-6 accordTitle" >{{data.Label}}</div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-6" *ngIf="((data.Value===true) || (data.Value===false));else notBoolean">
                <input type="checkbox" disabled
                  [checked]="data.value"></div>
              <ng-template #notBoolean>
                <div class="col-sm-6">{{data.Value}}</div>
              </ng-template>
      </div> 
    </div>
    <div class="col-sm-6"  style="margin-left: 11.333333%;" *ngIf="!showFlag">
      <div class="row" *ngFor='let data of showMore2'>
        <div class="col-sm-5 accordTitle">{{data.Label}}</div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-4" *ngIf="((data.Value===true) || (data.Value===false));else notBoolean">
          <input type="checkbox" disabled
            [checked]="data.value"></div>
        <ng-template #notBoolean>
          <div class="col-sm-6">{{data.Value}}</div>
        </ng-template>
      </div>
    </div>
      </div>
    </div>
  </div>
<div *ngIf="section==='assetLesseeandLessorDetails' || section ==='managementCompany'" >
    <div *ngIf='companyIndicator'>
      <div class="la-ball-spin-fade la-dark posit">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
        </div> 
    <div class="row" *ngFor='let data of oneSidedSection'>
        <div class="col-sm-2 col-md-3 accordTitle">{{data.Label}}</div>
        <div class="col-sm-1 col-md-1">:</div>
        <div class="col-sm-8 col-md-8" 
          *ngIf="((data.Value===true) || (data.Value===false));else notBoolean">
          <input type="checkbox" disabled
            [checked]="data.Value"></div>
        <ng-template #notBoolean>
          <div class="col-sm-6">{{data.Value}}</div>
        </ng-template>
      </div>
</div>

<div *ngIf="isTable && (section!='amendmentHistory') && (section!='contactLookup') && (section!='mla')" >
    <app-lps-table [labels]="label" [tableData]="data"></app-lps-table>
  </div>

  <div *ngIf="isTable && (section=='amendmentHistory')">   
    <app-amendment-table [labels]="label" [tableData]="data"></app-amendment-table>  
  </div>

  <div *ngIf="isTable && (section=='contactLookup')">
      <app-othercontacts-table [labels]="label" [tableData]="data"></app-othercontacts-table>
  </div>

  <div *ngIf="isTable && (section=='mla')">
      <app-mla-details-modal-table [labels]="label" [tableData]="data"></app-mla-details-modal-table> 
  </div>
  






