* {
	font-family: "ATT-Omnes_Medium" !important;
}

body {
	background: #c7c7c738;
}
#companyLogo{
	margin-top: 1rem;
    height: 2rem;
}
.padTop7 {
	padding-top: 7%;
}

.panel-default .panel-heading {
	background: #fff;
	border-bottom: 1px solid #c7c7c7;
	color: #333333;
}

.panel-heading {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.025em;
	height: 60px;
	line-height: 38px;
	padding: 10px 15px;
}

.panel-body {
	padding: 15px;
	background: #fff;
}

body>div>div>div>div.panel-body>form>fieldset>div.checkbox>label {
	font-size: 0.8rem;
}

body>div>div>div>div.panel-body>form>fieldset>div.checkbox>label>span {
	margin-left: 0.4rem;
}
body > div.container-fluid > div.loginHeader > div.col-1{
	max-width: 3.333333%;
}