<ngx-spinner
        bdColor="rgba(255,255,255,0.5)"
        size="default"
        color="#067ab4"
        type="ball-spin">
        <p style="font-size: 20px; color: black">Loading...</p>
</ngx-spinner>

<div style="margin-top:20px;" *ngIf="dropdownSelectData"></div>
    <div class="card" *ngIf="dropdownSelectData">
        <div  >
            <div class="card-header card-header-dashboard row" >
            <h5 class="dashboard-header-label col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-4">{{dropdownSelectData.leaseMetrics.title}}</h5>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <app-select (changeEvent)="receiveUpdatedOption($event)" [dropDownData]="dropdownSelectData"></app-select>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <app-multi-select (graphData)="receiveUpdatedGraph($event)" [selectedValue]="selectedOption" [dropDownData]="dropdownSelectData"></app-multi-select>
            </div>
            </div>
        </div>
            <div class="card-body">
                <div class="row" *ngIf="graphData"> 
                    <div *ngFor="let chart of graphData" class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 cardAlignment">
                        <div class="card mdb-color lighten-2 text-center z-depth-2 graphCard">
                            <div ><div class="cardTitle" > 
                                <div class="row">
                                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <!-- <app-export [selectedValue]="selectedOption" [type]="chart.title" ></app-export> -->
                                        </div>
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <div class="textTitle">{{chart.title}}</div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <app-export [dropDownData]="dropDownData" [selectedValue]="selectedOption" [type]="chart.title" ></app-export>
                                    </div>
                                </div>
                            </div>
                             </div>
                            <div class="card-body" >
                                <lps-common-chart [commonChartData]="chart.plot" ></lps-common-chart>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </div>


<!-- <div style="margin-top:20px;">
<div class="row" *ngIf="graphData">
    <div *ngFor="let data of graphData" class="col-md-6 col-lg-3 col-sm-11 col-xl-4 ">
        <div class="card mdb-color lighten-2 text-center z-depth-2 graphCard">
            <div class="cardTitle" >
                <span>{{data.title.text}}</span>
            </div>
            <div class="card-body" >
                    <lps-common-chart [commonChartData]="data" ></lps-common-chart>
            </div>
        </div>
    </div>
</div>
</div> -->
