
  <div *ngIf="fieldlist1.length>0">
    <div class="row" id="leasedatasheetsitesummary"  *ngFor="let field1 of fieldlist1" >
        <div class="col-md-3">{{field1.Label}}</div>
          <div class="col-md-1">
            :
          </div>
          <div *ngIf="field1.value==true||field1.value==false else templateName"><input type="checkbox"></div>
          <div><ng-template #templateName>{{field1.value}}
          </ng-template></div>
    </div>
  </div>
  <!-- <div class="col-md-6" *ngFor="let field2 of fieldlist2">
      <div class="row">
          <div class="col-md-5">
              {{field2.Label}}
            </div>
            <div class="col-md-1">
              :
            </div>
            <div class="col-md-6" *ngIf="field2.value==true||field2.value==false else templateName"><input type="checkbox"></div>
            <div class="col-md-6"><ng-template #templateName>{{field2.value}}
            </ng-template></div>
      </div>
      <br/>
  </div> -->

