<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-5">Site USID</div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-6">{{siteGeneral.siteUsid}}</div>
        </div>
        <div class="row">
          <div class="col-sm-5">Site Name</div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-6">{{siteGeneral.siteName}}</div>
        </div>
        <div class="row">
          <div class="col-sm-5">Status</div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-6">{{siteGeneral.status}}</div>
        </div>
        <div class="row">
          <div class="col-sm-5">Old FA Number</div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-6">{{siteGeneral.oldFANumber}}</div>
        </div>
        <div class="row">
          <div class="col-sm-5">Master Site</div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-6">{{siteGeneral.masterSite}}</div>
        </div>
        <div class="row">
          <div class="col-sm-5">Parent Company</div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-6">{{siteGeneral.parentCompany}}</div>
        </div>
        <div class="row">
          <div class="col-sm-5">Previous FA Number</div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-6">{{siteGeneral.previousFANumber}}</div>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="row">
              <div class="col-sm-5">Geo Location</div>
              <div class="col-sm-1">:</div>
              <div class="col-sm-6">{{siteGeneral.geoLocation}}</div>
            </div>
            <div class="row">
              <div class="col-sm-5">Company code</div>
              <div class="col-sm-1">:</div>
              <div class="col-sm-6">{{siteGeneral.companyCode}}</div>
            </div>
            <div class="row">
              <div class="col-sm-5">FA Number</div>
              <div class="col-sm-1">:</div>
              <div class="col-sm-6">{{siteGeneral.FANumber}}</div>
            </div>
            <div class="row">
              <div class="col-sm-5">Property Owned</div>
              <div class="col-sm-1">:</div>
              <div class="col-sm-6">{{siteGeneral.propertyOwned}}</div>
            </div>
            <div class="row">
              <div class="col-sm-5">Tower Owned</div>
              <div class="col-sm-1">:</div>
              <div class="col-sm-6">{{siteGeneral.towerOwned}}</div>
            </div>
            <div class="row">
              <div class="col-sm-5">Site Open Date</div>
              <div class="col-sm-1">:</div>
              <div class="col-sm-6">{{siteGeneral.siteOpenDate}}</div>
            </div>
            <div class="row">
              <div class="col-sm-5">Site Closed Date</div>
              <div class="col-sm-1">:</div>
              <div class="col-sm-6">{{siteGeneral.siteClosedDate}}</div>
            </div>

      </div>
    </div>
  </div>
</div>