<div class="container pt-3">
  <img class="lo-icon-image" src="../../assets/leasedatasheetimage.png" data-toggle="modal"
    data-target="#bootstrapModel" (click)="getleaseDataSheetData()">
</div>

<!-- Modal section -->


<div id="bootstrapModel" class="modal fade" role="dialog">


  <div class="modal-dialog mt-6-new lo-modalstyle">


    <!-- Modal content-->


    <div class="modal-content" id="leasedatasheeticonmodal">


      <div class="modal-header">

        <img style="height: 40px;width: 40px;" src="../../assets/company-at-t-png-logo-9.png">


        <h4 id="leasedatasheetheader" class="modal-title">Lease Data Sheet</h4>

        <img id="leasedatasheetpdfimage" class="lo-datasheet-pdf" (click)="downloadpdfFile()"
          src="../../../../assets/pdf.png">

        <button type="button" class="close" data-dismiss="modal" class="lo-clsbtn"
         >&times;</button>


      </div>


      <!-- model body section -->


      <div class="modal-body">
        <div>
          <app-leasedatsheetpage [leaseDatasheet]="leaseDatasheet"></app-leasedatsheetpage>
        </div>


      </div>


      <!-- <div class="modal-footer">


        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


      </div> -->


    </div>


  </div>


</div>