#leasedatasheetheader
{
padding-left: 32%;
color: black;
width: 47%;
}

#leasedatasheetpdfimage{

    margin-left: 43%;
}

#leasedatasheetzipimage{

    margin-left: -7%;
}

#leasedatasheeticonmodal{

   margin-left: 1%;
   width: 99%;;
}