<nav id="sidebar" class="navbar-dark " [ngClass]="{'smallSidebar': sideNavService.hideSideNav }" >
  <ul class="navbar-nav nav flex-column" *ngFor="let item of sideNavItems;let i = index" >
    <li class="nav-item">
       <a href="#" routerLink="{{item.routerLink}}" (click)="selectOption(i)"  class="nav-link {{item.active}}" ><fa name="{{item.icon}}" size="lg"></fa><span [ngClass]="{'hiddeLabel': sideNavService.hideSideNav }">{{item.label}}</span></a>
    </li>
  </ul>
  <button  type="button" class="navbar-toggler" [ngClass]="{'smallSidebarBtn': sideNavService.hideSideNav }" (click)="sideNavService.toggleSideNav();alignRespDiv();checkResp()">
    <span class="" [ngClass]="{'fontAwesomeChange': sideNavService.hideSideNav }"><i class="fa fa-angle-left fa-xs"></i></span>
  </button>
</nav>