<div class="near_by_hotel_wrapper">
  <div class="near_by_hotel_container">
    <table class="table table-striped table-bulk">
      <thead class="tableHeadAcc">
        <th>{{labels[0].label}}</th>
        <th>{{labels[1].label}}</th>
        <th>{{labels[2].label}}</th>
        <th>{{labels[3].label}}</th>
        <th>{{labels[4].label}}</th>
      </thead>

      <tbody class="tableBody">
        <tr *ngFor="let data of tableData; let i = index" >
          <!-- <td *ngIf="data.MLA_ID=='No Record Found'" class="cellAlignBorder">{{data.MLA_ID}}</td> -->
          <td (click)="showModal(data.MLA_ID)" class="hyperlink cellAlignBorder">{{data.MLA_ID}}</td>
          <td class="cellAlignBorder">{{data.MLA_NAME}}</td>
          <td class="cellAlignBorder"><input type="checkbox" [checked]="data.IS_THIS_CRAN_MLA" disabled></td>
          <td class="cellAlignBorder">{{data.ATTACHMENT_VENDOR}}</td>
          <td class="cellAlignBorder">{{data.STATUS}}</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<button id="openModalButton" hidden="hidden" data-toggle="modal" 
    data-target="#myModal">Open Modal</button>
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content" id="contactpopupmodal">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">MLA Details</h5>
            <i  class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </i>
        </div>
    <!-- <div class="modal-header popupHeader"></div> -->

      <div class="modal-body">
        <div class="panel panel-default">
          <div id="leasedatasheetpanelbody" class="panel-body">
            <div id="contactpopuprow" class="row" *ngFor="let data of mlaDetails">
              <div class="col-md-5 title">{{data.Label}}</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6" *ngIf="(data.Value===true)||(data.Value===false); else notBoolean">
                <input type="checkbox" [checked]="data.Value" disabled></div>
              <ng-template #notBoolean>
                <div class="col-sm-6">{{data.Value}}</div>
              </ng-template>
            </div>

            <div class="modal-footer">
              <button class="btn closeBtn" data-dismiss="modal">
                <span style="color:white;">close</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>