
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-8 ">
    <!-- <p style="font-size: 11px;margin-left: 222px;margin-top: -7px">© 2007-2018 AT&amp;T Intellectual Property. All Rights Reserved. AT&amp;T Proprietary (Restricted). Only for use by authorized individuals or any above-designated team(s) within the AT&amp;T companies and not for general distribution.</p>
<div> -->
    <p class="footer-Align w-100 margin-tb-none">© 2007-2018 AT&amp;T Intellectual Property. All Rights Reserved. AT&amp;T Proprietary (Restricted). Only for use by authorized individuals or any above-designated team(s) within the AT&amp;T companies and not for general distribution.</p>
  
</div>