.dropdown-menu{
    background-color: transparent;
    border: none;
    top: -5px;
}
.list-button{
    text-align: center;
}
.app-multi-select {
    position: relative;
}

#dropdownForm1{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-check-list{
    padding-left: 2.5rem;
}
.selectall{
    line-height: 0.9;
}
.form-check-list-search{
    padding: 0px
}

.flex-container {
    display: flex !important;
    justify-content: space-around !important;
  }
  .selected-item {
    margin-right: 4px;
    padding: 0 5px;
    border-radius: 2px;
    float: left;
    font-size: 13px;
}
.drop-down-list{
    width: 15rem;
}
.scrollable-list{
    max-height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.2;
    font-size: 13px;
}
.select-all-list{
    line-height: 1.2;
    font-size: 13px; 
}
.list-align{
    margin-top: -1px !important;
}
.attBtnSelector{
    cursor: pointer;
    border: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#44c8f5), to(#067ab4))
    !important;
    background-image: -webkit-linear-gradient(top, #44c8f5, #067ab4)
    !important;
    background-image: -o-linear-gradient(top, #44c8f5, #067ab4)
    !important;
    background-image: linear-gradient(to bottom, #44c8f5, #067ab4)
    !important;
    color: #fff;
    }
    .attBtnSelector:hover{
    color: #000;
    }